$blue-5: #E8F5FF;
$blue-10: #CFE8FF;
$blue-20: #A1D3FF;
$blue-30: #58B4FF;
$blue-40: #2491FF;
$blue-50: #0076DA;
$blue-60: #005EA2;
$blue-70: #0B4778;
$blue-80: #112F4E;

$neutral-0: #FFFFFF;
$neutral-1: #FBFCFD;
$neutral-2: #F7F9FA;
$neutral-3: #F5F6F7;
$neutral-4: #F1F3F6;
$neutral-5: #EDEFF0;
$neutral-10: #DFE1E2;
$neutral-20: #C6CACE;
$neutral-30: #A9AEB1;
$neutral-40: #8D9297;
$neutral-50: #71767A;
$neutral-60: #565C65;
$neutral-70: #3D4551;
$neutral-80: #2D2E2F;
$neutral-90: #1C1D1F;
$neutral-100: #000000;

$mint-5: #D5FBF3;
$mint-10: #7EFBE1;
$mint-20: #29E1CB;
$mint-30: #1DC2AE;
$mint-40: #00A398;
$mint-50: #008480;
$mint-60: #0F6460;
$mint-70: #0B4B3F;
$mint-80: #123131;

$red-5: #FFF3F2;
$red-10: #FDE0DB;
$red-20: #FDB8AE;
$red-30: #FF8D7B;
$red-40: #FB5A47;
$red-50: #E52207;
$red-60: #B50909;
$red-70: #8B0A03;
$red-80: #5C1111;

$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-1: 112.5%;
$line-height-2: 125%;
$line-height-3: 133.4%;
$line-height-4: 140%;
$line-height-5: 150%;
$line-height-6: 166.7%;

$spacing-0: 0rem;
$spacing-1: 0.0625rem;
$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-64: 4rem;
$spacing-72: 4.5rem;
$spacing-80: 5rem;

$radius-0: 0rem;
$radius-2: 0.125rem;
$radius-4: 0.25rem;
$radius-8: 0.5rem;
$radius-16: 1rem;
$radius-100: 100%;